* {
    text-align: center;
}

.App {
    background: linear-gradient(to right top, #0052ce, #12e8e8);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    border: 4px solid lightblue;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    background: ghostwhite;
    border: 2px solid lightblue;
    font-size: 50px;
    font-weight: 800;
    cursor: pointer;
}

.end-text {
    font-size: 30px;
    margin: 15px;
}

.winner1-text {
    color: #61dafb;
}

.winner2-text {
    color: #ddaaff;
}

.draw-text {
    color: mediumaquamarine;
}

.replay-button {
    border-radius: 2px;
    width: 80px;
    height: 30px;
    font-size: 15px;
    background-color: lightcyan;
    color: darkcyan;
    border: none;
    outline: 2px solid mediumaquamarine;
}